body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #243131;
  font-size: 14px;
  background-color: #fcfcfc
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 20px;
}

#main {
  width: 200px;
  height: 350px;
}

a {
  text-decoration: none;
  color: #8C1515;
}

a:hover {
  text-decoration: underline;
}

.fa {
  font-size: 30px;
  margin: 5px 2px;
}
